:root {
  --tan: #FFE0B5;
  --green: #003E1F;
  --grey: #829298;
  --pink: #94778B;
  --background: #01110A;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  color: var(--tan);
  padding-top: 0;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navList {
  text-decoration: none;
  color: var(--grey);
  display: flex;
  justify-content: space-evenly;
}
